<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <properties resource="jdbc.properties" />

    <environments default="dev">
        <environment id="dev">
            <transactionManager type="JDBC" />
            <dataSource type="POOLED">
                <property name="driver" value="${driver}" />
                <property name="url" value="${url}" />
                <property name="username" value="${username}" />
                <property name="password" value="${password}" />
            </dataSource>
        </environment>
    </environments>
    <mappers>
            <mapper resource="com/elements/user/mapper/UserMapper.xml" />
    </mappers>
</configuration>
<!--把数据库里面属性通过jdbc。properties 表现在mybatis-config。xml里面-->
        <!--把jdbc。properties里面de数据库相关属性通过mybatis-config赋值给mybatis的对应属性-->
<!--把jdbc.properties里面的数据库相关属性通过mybatis-config.xml文件赋值给mybatis里面对应的属性
 A通过B把A里面的属性赋值到C对应的鹅属性-->
<!--1.mybatis-config文件的作用用错了；其实这个文件是一个转换过程-->
<!--2.没有理清jdbc。properties文件是向谁传输数据-->

<!---->